@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* bootstrap customization */
.jumbotron {
  background-color: transparent;
  text-align: center;
}
.panel-default {
  text-align: center;

  .panel-heading {
    background-color: transparent;
  /*  padding: 12px; */
  }
  
  .panel-footer {
    background-color: transparent;
    padding: 15px;
  }
  .panel-body {
  /*  padding: 30px 15px 20px; */
  }

  .panel-footer {
    border-top: transparent;
  }

  &:hover {
    border-color: #bce8f1;
    .panel-heading {
      background-color: #d9edf7;
    }
  }
}
table {
  thead, tbody {
    th, td {
/*      text-align: center; */
    }
  }
}
.table {
  border-collapse: separate;
  border-spacing: 2px;
  -webkit-border-horizontal-spacing: 2px;
  -webkit-border-vertical-spacing: 2px;
  tbody, thead {
    tr {
      th, td {
        padding: 15px;
        vertical-align: middle;
        border-top: 1px transparent; 
      }
    }
  }
}
.table-hover {
  tbody {
    tr:hover {
      background-color: #eaf5fa;
      /* #E3F3FB; */
    }
  }
}
.btn-light-blue {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  &:hover {
    color: #01121A;
    background-color: #B1DAEE;
    border-color: #7EBBD9;
  }
  &:active {
    color: #01121A;;
    background-color: #7EBBD9;
    border-color: #569DC0;
  }
}
.btn-light-red {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  &:hover {
    color: #2A0000;
    background-color: #FFC4C4;
    border-color: #f3a2a2;
  }
  &:active {
    color: #2A0000;;
    background-color: #FF8F8F;
    border-color: #FF6B6B;
  }
}


/* universal */
body {
  padding-top: 60px;
  padding-bottom: 100px;
}
section {
  overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
/* typography */
/* oare sa sterg partea asta si sa las default de la bootstrap??? */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
}
h2 {
  font-size: 3em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */
/* baga un logo la meniu sau sterge clasa asta */
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* forms */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}